@media screen and (max-width: 767px) {

	.container {
		width: 440px;
	}

}

/* ============================================================================== */

@media screen and (max-width: 459px) {
	.container {
		width: 300px;
	}

	

}

@media screen and (max-width: 320px) {

	body {
		min-width: 320px;
	}

}