@media screen and (max-width: 1720px) {

	.menu__block .sub__menu {
		width: auto;
		right: 0;
	}

	.sub__menu-block {
		width: 345px;
	}
}


@media screen and (max-width: 1320px) {

	.container {
		width: 1200px;
	}

	.header__menu .item__menu a {
		padding-right: 30px;
	}

	.foto__books-slider {
		width: 883px;
	}

	.packages__slider .slider__item {
		height: 343px;
	}

	.services__row img {
		width: 100%;
	}

	.reviews__block {
		width: 590px;
	}

	.packages__slider .slick-prev {
		left: 32%;
		bottom: 45%;
	}

	.sub__menu-block {
		width: 328px;
	}

}

@media screen and (max-width: 1260px) {

	.container {
		width: 1100px;
	}

	.header__sity {
		margin-right: 70px;
	}

	.header__menu .item__menu a {
		padding: 0 25px;
	}

	.header__menu .item__menu>li:after {
		right: 23px;
	}

	.foto__books-slider {
		width: 783px;
	}

	.packages__slider .slick-prev {
		left: 34%;
	}


	.reviews__block {
		width: 531px;
		padding: 20px 30px 40px 40px;
		background:#fff url(../img/icon/quotes.svg) 466px 20px no-repeat;
	}

	.sub__menu-block {
		padding: 45px 0 0 25px;
	}

	.sub__menu .sub__menu-block:nth-child(2) {
		padding: 37px 0 0 16px;
	}

	.sub__menu .sub__menu-block:nth-child(3) {
		padding: 45px 0 0 10px;
		width: 266px;
	}

	.sub__menu-block {
		width: 315px;
	}

}

@media screen and (max-width: 1200px) {

	.container {
		margin: 0 auto;
		width: 1000px;
	}

	.header__sity {
		margin-right: 80px;
	}

	.header__top input {
		width: 250px;
	}

	.logo__content {
		margin-right: 35px;
	}

	.delivery:after {
		left: -41px;
	}

	.header__content .contacts__tel {
		padding-right: 30px;
	}

	.header__content .contacts__tel:before {
		left: 169px;
	}

	.user .user__come {
		padding-right: 30px;
	}

	.user:after {
		left: 52px;
	}

	.header__content .contacts__tel:after {
		left: -28px;
	}

	.header__menu .item__menu>li:first-child a {
		padding: 0 20px;
	}

	.header__menu .item__menu>li:last-child a {
		padding: 0 0 0 20px;
	}

	.header__menu .item__menu a {
		padding: 0 20px;
	}

	.header__menu .item__menu>li:after {
		right: 17px;
	}

	.foto__books-slider {
		width: 683px;
	}

	.packages__slider .slick-prev {
		left: 38%;
	}

	.services__row a {
		height: 296px;
	}

	.map__section h2 {
		padding: 35px 0 40px;
	}

	.reviews__row {
		flex-direction: column;
		align-items: center;
	}

	.reviews__block {
		margin-bottom: 30px;
	}

	.reviews__row:last-child {
		margin: 0;
	}

	.ui.bottom.attached.tab.segment {
		height: 700px;
	}

	#img_wrapp {
		left: -131px;
		top: -157px;
	}

	.block__links {
		padding: 0px;
	}

	.block__links ul {
		padding-top:30px;
	}

	.reviews__section .button {
		margin: 0 auto;
	}

	.reviews__section h2 {
		padding: 40px 0 50px;
	}

	.menu__item .menu__block .button {
		width: 147px;
	}

	.sub__menu-block {
		width: 275px;
	}



}